wsPoderes/Datos/Connected Services/ServicioDalWcf/ServicioDAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvpruebasapl.coopmego.corp/ServerDalWcf/ServicioDAL.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:complexType name="ParametersIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="StrNameParameter" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="dbType" type="q1:DbType" />
      <xs:element minOccurs="0" name="objValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametersIn" nillable="true" type="tns:ParametersIn" />
  <xs:complexType name="ParametersOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="StrNameParameter" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="dbType" type="q2:DbType" />
      <xs:element minOccurs="0" name="size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParametersOut" nillable="true" type="tns:ParametersOut" />
</xs:schema>